.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 300px;
  background-color: yellow;
  
}

.SidebarList {
  height: 100%;
  padding: 0;
  width: auto;  
}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: left;
  padding-left: 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 400;
}

