@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Titillium+Web:wght@300&display=swap');


.container {
    text-align: left;
    margin: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .vertical-input {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }

  .custom-font {
    font-family: 'Titillium Web', sans-serif;
  }
  

  input {
    width: 100%;
    padding: 5px;
  }

  .center {
    text-align: center;
  }

  .button-container {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly ;
    padding: 0 500px;
  }
  
  