@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Titillium+Web:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor: #f1c204;
    --mainColorLight: #f1c204;
    --secondaryColor: #ff0000;
    --textColor: #000000;
}

/* Header styles for larger screens (e.g., screens wider than 1024px) */
@media only screen and (min-width: 1025px) {
    /* Hide the navigation bar */
    header nav {
        display: none;
    }
    header h3 {
        text-align: center;
        width: 100%;
    }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding:0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;

}

nav a:hover{
    color: var(--secondaryColor)
}


header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border:none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }
    header h3 {
        text-align: center;
        width: 100%;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);

        
    }

    header .responsive_nav{
        transform: none;

    }
}