/* TimeCalendar.css */
.time-calendar {
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
  }
  
  .slot {
    cursor: pointer;
  }
  
  .slot.selected {
    background-color: #FFD700;
  }

  /* TimeCalendar.css */
.time-calendar-size {
    width: 30%; /* Adjust the width as needed */
    height: 500px; /* Allow the height to adjust dynamically */
    overflow-y: auto; /* Allow vertical overflow with a scrollbar if needed */
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);


}
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
 
  