/* time picker css*/


.time-picker {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Keep the same height regardless of screen size */
    font-size: 14px;
    float: left;
}


.time-picker-container {
    width: 150px; /* Same width as the time picker */
    float: left;
}