/* time picker css*/


.time-picker {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Keep the same height regardless of screen size */
    font-size: 14px;
    float: left;
}


.time-picker-container {
    display: flex;
    flex-direction: column;

}
.time-lists {
    display: flex;
    justify-content: space-between;
  }

  .save-time-button{
    align-self: flex-start;
  }